@import "../App.scss";

$cor: #fff;


header {
        // background: $fundo;
        width: 100%;
        height: 100vh;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        .container {
            // background: purple;
            height: 25rem;
            max-width: 30rem;
            display: flex;
            flex-direction: column;
            flex-grow: 1;
            
                .text {
                    animation: mostrar 1.5s ease-in-out;
                    color: $cor;
                    text-align: center;
                    font-family: $roboto;
                    font-size: 3rem;
                }

                @keyframes mostrar {
                    0% {
                        opacity: 0;
                    }

                    100% {
                        opacity: 1;
                    }
                }

                .hide {
                    display: none;
                }
            
                .contentCima {
                    width: 100%;
                    height: 50%;
                    border-bottom: 20px solid $cor;
                    transition: all 1s ease-in-out;
                    transform: translateY(-.1rem);
                }

            .cima {
                width: 100%;
                height: 50%;
                // background: lightcoral;
                border-bottom: 20px solid $cor;
                transition: all 1s ease-in-out;
                animation: praCima 1s forwards;
            }

            
            @keyframes praCima {
                0% {
                    transform: translateY(2rem);
                }
                100% {
                    transform: translateY(-2rem);
                }
            }

            .contentBaixo {
                width: 100%;
                height: 50%;
                // background: red;
                border-top: 20px solid $cor;
                transition: all 1s ease-in-out;
                transform: translateY(.1rem);
            }

            .baixo {
                width: 100%;
                height: 50%;
                // background: cyan;
                border-top: 20px solid $cor;
                transform: translateY(4rem);
                transition: all 1s ease-in-out;
                animation: praBaixo 1s forwards;
            }



            
            @keyframes praBaixo {
                0% {
                    transform: translateY(-4rem);
                }
                100% {
                    transform: translateY(2rem);
                }
            }
        }

        .buttons {
            display: flex;
            justify-content: space-between;
            animation: mostrar 1.5s ease-in-out;
            font-family: $mukta;
        }


        .btn {
            background: rgba(0, 0, 0, .8);
            width: 100%;
            height: 2rem;
            width: 7rem;
            margin-bottom: .1rem;
            color: $cor;
            outline: none;
            cursor: pointer;
            border: none;
        }
    }






