.Sobre {
    .btn {
    height: 2rem;
    width: 10.5rem;
    margin-bottom: .1rem;
    border:.01rem solid #fff;
    color: #fff;
    background: rgba(0, 0, 0, .8);
    cursor: pointer;
}

    .sobreContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        
        .containerTxt {
            color: #fff;
            overflow: hidden;
        }

        .containerDownload {
            padding-top: 1.8rem;
            // background: teal;
            max-width: 100%;
            display: flex;
            justify-content: space-evenly;
            flex-grow: 1;
            .download {
                width: 20rem;
                height: 2rem;
                background: rgba(255, 255, 255, .7);
                border: none;
                color: #242424;
                font-size: 1.1rem;
                font-weight: 600;
                transition: all 1s ease-in-out;
                &:hover {
                    background: #676d79;
                    color: rgba(255, 255, 255, 0.193);
                }
                .opa {
                    text-decoration: none;
                    color: #fff;
                }
                
            }

            .perfil {
                width: 20rem;
                height: 2rem;
                background: rgba(255, 255, 255, .7);
                border: none;
                color: #242424;
                font-size: 1.1rem;
                font-weight: 600;
                transition: all 1s ease-in-out;
                &:hover {
                    background: #676d79;
                    color: #fff;
                }
                a {
                    text-decoration: none;
                }
            }
        }
    }
}
 

