.Sobre {
    .btn {
        height: 2rem;
        width: 10.5rem;
        margin-bottom: .1rem;
        border:.01rem solid #fff;
        color: #fff;
        background: rgba(0, 0, 0, .8);
        cursor: pointer;
    }

    .sobreContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
        // background: red;
        
        .containerTxt {
            color: #fff;
            overflow: hidden;
        }

        .containerDownload {
            padding-top: 2rem;
            // background: teal;
            margin: 0 auto;
            max-width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-evenly;
            flex-grow: 1;
            .download {
                width: 20rem;
                height: 2rem;
                background: linear-gradient(to right, #16222a, #3a6073);
                border: none;
                color: #242424;
                font-size: 1.1rem;
                font-weight: 600;
                transition: all 1s ease-in-out;
                &:hover {
                    border-right: 2px solid #fff;
                }

                a {
                    color: #fff;
                }
                
            }

            .perfil {
                width: 20rem;
                height: 2rem;
                background: linear-gradient(to left, #16222a, #3a6073);
                border: none;
                color: #242424;
                font-size: 1.1rem;
                font-weight: 600;
                transition: all 1s ease-in-out;
                &:hover {
                    border-left: 2px solid #fff;
                }
                a {
                    color: #fff;
                }
            }
        }
    }
}
 

