*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
}

$roboto: 'Roboto', sans-serif;
$mukta: 'Mukta', sans-serif;
$opa: 'Great Vibes', cursive;
$cor1: #8e2de2;
$cor2:#202020;


h1, h2 {
    font-family: $roboto; 
}

p {
    font-family: $mukta;
}

// .asa {
//     transition: all 1s ease-in-out;
// }

body {
    background: url("./assets/space.jpg") no-repeat;
    background-size: cover;
    background-position: center;
}


// Variaveis do grid
$cols: 12;
$gutter: 20px;
$large-device: 1200px;
$medium-device: 760px;
$small-device: 480px;


// Mixin de media-queries
@mixin d($size) {
    @if $size == large {
      @media screen and (min-width: #{$large-device}) {
        @content;
      }
    } @else if $size == medium {
      @media screen and (min-width: #{$medium-device}) and (max-width: #{$large-device - 1}) {
        @content;
      }
    } @else if $size == small {
      @media screen and (max-width: #{$medium-device - 1}) {
        @content;
      }
    }
  }

